---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>About Me</h4>
  I'm a Ph.D student advised by Sungsoo Ahn (@ KAIST 09.2025~). My research goal is to build generative models for solving real-world problems that require diverse candidate solutions, e.g., drug discovery. I especially focus on various types of generative models, including large language models (LLMs) <b>[P1,C4]</b>, Generative Flow Networks (GFlowNets) <b>[C2,C3]</b>, and diffusion probabilistic models (DPMs) <b>[C1]</b> for inferring diverse solutions. I am also interested in machine learning for medical and biological domains <b>[J1,J2,C2,C3]</b>.     
  <p> </p>
  
<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p></p><sup>‡</sup> indicates equal contribution.
  </p>



  {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
  {% for paper in selected_papers %}
    <div class="paper">
      <p class="title"><b>{{ paper.title }}</b></p>
      <p>{{ paper.authors }}</p>
      <p><i>{{ paper.venue }}</i></p>
       <div class="paper-buttons">
        {% if paper.paper_pdf %}
          <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
        {% endif %}

        {% if paper.slides %}
          <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
        {% endif %}

        {% if paper.poster %}
          <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
        {% endif %}

        {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
        {% endif %}

        {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}

        {% if paper.data %}
          <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
        {% endif %}

      </div>
    </div>
  {% endfor %}


<div class="docs-section" id="invited">  
  <h4>Invited Talks</h4>
  <p>
  <b>UMICH</b>, Stella group, <i> GFlowNets</i>, Jan 2025 <br>
  <b>ICLR</b>, Oral session, <i> Learning Energy Decompositions for Partial Inference in GFlowNets</i>, May 2024 <br>
  <b>MILA</b>, GFlowNet reading group, <i> Learning Energy Decompositions for Partial Inference in GFlowNets</i>, Apr 2024 
  </p> 
</div>


<div class="docs-section" id="honor">  
  <h4>Honors and Awards</h4>
  <p>
  <b>Postechian Fellowship</b>, 2024 <br>
  <b>Presidential Science Scholarship</b>, 2024 <br>
  <b>National Excellence Scholarship (Natural Sciences and Engineering)</b>, 2021-2022 <br> 
  <b>Merit-based Scholarship</b>, 2019-2020 
  </p> 
</div>
